examples/Basic Flow.json
[
    {
        "id": "ce32457c.36af08",
        "type": "ecovacs-deebot",
        "z": "f6f2187d.f17ca8",
        "account": "f58ee3da.650fc",
        "name": "Deebot Vacuum Cleaning Robot",
        "deviceNumber": "1",
        "connectOnStartup": false,
        "enableGetMapsOnStartup": false,
        "enableSimpleEvents": false,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "429c4136.94907"
            ]
        ]
    },
    {
        "id": "b4cae92d.678908",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "ac846fee.40856"
            ]
        ]
    },
    {
        "id": "6cbd5268.40e18c",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "8f1a0d6.fbdd2f"
            ]
        ]
    },
    {
        "id": "429c4136.94907",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 340,
        "wires": []
    },
    {
        "id": "ac846fee.40856",
        "type": "ecovacs-deebot-command",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "command": "Connect",
        "arg": "",
        "arg2": "",
        "arg3": "",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "ce32457c.36af08"
            ]
        ]
    },
    {
        "id": "8f1a0d6.fbdd2f",
        "type": "ecovacs-deebot-command",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "command": "Disconnect",
        "arg": "",
        "arg2": "",
        "arg3": "",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "ce32457c.36af08"
            ]
        ]
    },
    {
        "id": "731a0a8b.fd73a4",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "5b444c21.79be44"
            ]
        ]
    },
    {
        "id": "5b444c21.79be44",
        "type": "ecovacs-deebot-command",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "command": "Clean",
        "arg": "",
        "arg2": "",
        "arg3": "",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "ce32457c.36af08"
            ]
        ]
    },
    {
        "id": "4b7b3fdf.9a1c5",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Basic flow for node-red-contrib-ecovacs-deebot",
        "info": "Any trigger to the Deebot command node will prepare the correct payload to be executed in Ecovacs Deebot node.\n\nThe events from the robot will be send to debug node.",
        "x": 370,
        "y": 260,
        "wires": []
    },
    {
        "id": "f58ee3da.650fc",
        "type": "ecovacs-account",
        "countryCode": "DE",
        "name": "",
        "login": "ecovacs.com"
    }
]
